footer {
    width: 100%;
    height: 75px;
    margin-top: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: #fff;
}
footer a:hover, footer a:active {
    font-weight: bold;
    color: orange;
}
footer nav {
    width: 350px;
    display: flex;
    justify-content: space-around;
}